.wrapper {
    margin: 40px;
}

.styledButton {
    position: fixed;
    z-index: 100;
    right: 20px;
    top: 20px;
}

.drawerButton {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}