/* CheckoutFailed.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100vh;
  background-color: #fff0f0;
}

.button {
  background-color: #ff1744;
  color: #fff;
}

.button:hover {
  background-color: #ff4569;
}
